:root {
  --bgColor: #c9ada7;
  --fgColor: #f2e9e4;
  --highlightColor: #4a4e69;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;

  background-color: var(--bgColor);
}

.click-overlay{
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  visibility: hidden;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0px) brightness(1);
  transition: 500ms 750ms;
}

.blur-filter {
  visibility:visible;
  backdrop-filter: blur(5px) brightness(0.8);
}

.mainContainer {
  width: 70%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;

  background-color: var(--fgColor);

  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  font-size: large;

  margin: 0px;
  color: var(--highlightColor);

  background-color: var(--fgColor);
}

.card-modal {
  width: 50%;
  height: 90%;
  position: fixed;
  align-self: center;
  z-index: 3;
  transform: translateY(-100vh);
}

.card-small {
  cursor: pointer;
  animation-name: slideIn;
  animation-duration: 1s;
  animation-fill-mode: backwards;

  transition-duration: 250ms;
  transition-timing-function: ease-out;

  flex: 1 0 25%;

  padding: 2%;
}

.card-small:hover {
  background-color: var(--highlightColor);
  color: var(--bgColor);
  transform: translateY(-10%);
}

.card-small:nth-child(1) {
  animation-delay: 250ms;
}
.card-small:nth-child(2) {
  animation-delay: 500ms;
}
.card-small:nth-child(3) {
  animation-delay: 750ms;
}
.card-small:nth-child(4) {
  animation-delay: 1000ms;
}
.card-small:nth-child(5) {
  animation-delay: 1250ms;
}
.card-small:nth-child(6) {
  animation-delay: 1500ms;
}
.card-small:nth-child(7) {
  animation-delay: 1750ms;
}
.card-small:nth-child(8) {
  animation-delay: 2000ms;
}

@keyframes slideIn {
  0% {
    opacity: 0%;
    transform: translateY(-100%);
  }
  50% {
    opacity: 100%;
  }
  100% {
    transform: translateY(0);
  }
}

.rotationTrigger {
  animation-name: rotationFrames;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0ms !important;
  z-index: 1;
}

@keyframes rotationFrames {
  0% {
    background-color: var(--highlightColor);
  }
  25% {
    color: transparent;
    background-color: var(--highlightColor);
  }
  50% {
    transform: rotateY(180deg);
  }

  100% {
    color: transparent;
    transform: rotateY(180deg) translateY(-100vh);
  }
}
