:root {
  --bgColor: #c9ada7;
  --fgColor: #f2e9e4;
  --highlightColor: #4a4e69;

  --borderRadius: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;

  background-color: var(--bgColor);

  font-size: large;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7ch;
  color: var(--highlightColor);
}

header h1 {
  transform: translateY(-150%);
  position: fixed;
  width: 100%;
  animation: slideIn 2s 3s forwards;
}

.header {
  background-color: var(--fgColor);
  height: 100%;
}

.click-overlay {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  visibility: hidden;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0px) brightness(1);
  transition: 500ms 750ms;
}

.main-container {
  width: 70%;
  height: 75%;
  align-self: center;

  display: flex;
  flex-wrap: wrap;

  border-radius: var(--borderRadius);
  background-color: var(--fgColor);

  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.blur-filter {
  visibility: visible;
  backdrop-filter: blur(5px) brightness(0.8);
}

.slideTransition {
  transition-delay: 600ms;
  visibility: visible;
  transform: translateY(0);
}

@keyframes slideIn {
  0% {
    opacity: 0%;
    transform: translateY(-100%);
  }
  50% {
    opacity: 100%;
  }
  100% {
    transform: translateY(0);
  }
}

.rotationTrigger {
  animation-name: rotationFrames;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0ms !important;
  z-index: 1;
}

@keyframes rotationFrames {
  0% {
    background-color: var(--highlightColor);
    transform: translateY(-10%);
  }
  25% {
    color: transparent;
    background-color: var(--highlightColor);
  }
  50% {
    transform: rotateY(180deg) translateY(-50%);
  }
  100% {
    color: transparent;
    transform: rotateY(180deg) translateY(-100vh);
  }
}

.headerAnimation {
  animation: headerFrames 1s 2s forwards;
}

@keyframes headerFrames {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
