
.langContainer{
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    
}

.langImg{
    height: 8vh;
    transition: 200ms;
}

.langImg:hover{
    height: 9vh;
}