
.langContainer{
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    
}

.langImg{
    height: 9vh;
    transition: 200ms;

    padding: 2vh;

    background-color: var(--bgColorLight);

    border-radius: 0.8vh;
}

.langImg:hover{
    height: 9.5vh;
}
