
.section{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 55vw;

    margin-bottom: 5vh;
}

.sectionTitle{
    width: 55vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.5vh;
    margin-bottom: 1%;
    background-color: var(--highlightColor);

    font-family: var(--font);
    font-size: 2.5vh;
    font-weight: 500;
    color: var(--bgColor);
    text-align: center;
    
    cursor: default;
    
    transition: 200ms;
}

.sectionTitle:hover{
    background-color: var(--activeColor);
}

.repoSectionContainer{
    width: 100%;
    height: 100%;
    

    display: grid;
    gap: 5vh;
    grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
    justify-items: center;
    align-items: center;
}

.xpSection{
    width: 100%;
}

.xpSectionContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    border: 1px solid var(--highlightColor);

    border-radius: 0.8vh;
    transition: 150ms;
}

.xpSectionContainer:hover{
    box-shadow: 1px 1px 5px;
}

.xpLogo{
    width: 12vw;
    margin-top: 1vh;
    margin-bottom: 1vh;

    padding: 1vh;

    background-color: var(--bgColorLight);

    border-radius: 0.8vh;
}

.xpInfo{
    margin-top: 1vh;
    margin-bottom: 1vh;

    padding: 3vh;

    background-color: var(--bgColorLight);

    border-radius: 0.8vh;
}



.imgsContainer{
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    
}

.borderImg{
    height: 9vh;
    transition: 200ms;

    padding: 2vh;

    background-color: var(--bgColorLight);

    border-radius: 0.8vh;
}

.borderImg:hover{
    height: 9.5vh;
}

.langIcon{
    width: 1.5vw;
}